{% extends "base.html" %}
{% block title %}Myshool - Homepage{% endblock title %}

{% block content %}

<div class="alert alert-success mt-2" role="alert">
    <h4 class="alert-heading">Welcome back, Admin!</h4>
    <p>You have successfully accessed the admin dashboard. Here, you can manage students, courses, and do more activity.</p>
    <hr>
    <p class="mb-0">Use the side menu provided to navigate smoothly.</p>
</div>

<div class="d-md-flex justify-content-around">
    <!-- Card 1-->
    <div class="card mb-3">
        <div class="card-header">Teachers count</div>
        <div class="card-body text-center text-success">
            <h5 class="card-title">{{ teacher_count }}</h5>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link">Go to Teachers table</a>
        </div>
    </div>

    <!-- Card 2-->
    <div class="card mb-3">
        <div class="card-header">Students count</div>
        <div class="card-body text-center text-success">
            <h5 class="card-title">{{ student_count }}</h5>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('student_list') }}" class="card-link">Go to Students table</a>
        </div>
    </div>

    <!-- Card 3-->
    <div class="card mb-3">
        <div class="card-header">Courses count</div>
        <div class="card-body text-center text-success">
            <h5 class="card-title">120</h5>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link">Go to Courses table</a>
        </div>
    </div>

        <!-- Card 3-->
        <div class="card mb-3">
            <div class="card-header">Posts count</div>
            <div class="card-body text-center text-success">
                <h5 class="card-title">150</h5>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link">Go to Posts table</a>
            </div>
        </div>

</div>
{% endblock content %}