{% extends "base.html" %}
{% block title %} myschool - New Student Form {% endblock title %}
{% block content %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Pay Attention!</h4>
  <p>If you delete a teacher, all related objects like groups, students , ... will be deleted too.</p>
  <hr>
  <p class="mb-0">Are you sure you want to Delete Teacher {{ teacher.fullname }}?
  </p>
  <div class="mt-2">
     <a href="{{ url_for('delete_teacher', teacher_id=teacher.id) }}" type="button" class="btn btn-danger">Yes - Delete </a>
     <a href="{{ url_for('teachers_list') }}" type="button" class="btn btn-light">No - Cancel</a>
  </div>
</div>

{% endblock content %}